html, body {
    font-family: 'Vazirmatn', sans-serif;
    direction: rtl;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

.chat-row {
    margin-bottom: 12px;
    display: flex;
}

.chat-row-user {
    justify-content: flex-start;
}

.chat-row-ai {
    justify-content: flex-end;
}

.chat-bubble {
    max-width: 80%;
    padding: 10px 16px;
    border-radius: 16px;
}

.chat-bubble-user {
    background-color: #594ae8;
    color: white;
}

.chat-bubble-ai {
    background-color: #f5f5f5;
}
